<a href="https://colab.research.google.com/github/zbigsr814/data-scienice-bootcamp/blob/main/06_data_operation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('avocado.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [ ]:
del df['type']

In [ ]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,year,region
0,0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,2015,Albany
1,1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,2015,Albany
2,2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,2015,Albany
3,3,2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,2015,Albany
4,4,2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,2015,Albany

In [ ]:
df = df.set_index('Date')
df.head()

,Unnamed: 0,AveragePrice,Total Volume,Total Bags,Small Bags,Large Bags,year,region
Date,,,,,,,,
2015-12-27,0,1.33,64236.62,8696.87,8603.62,93.25,2015,Albany
2015-12-20,1,1.35,54876.98,9505.56,9408.07,97.49,2015,Albany
2015-12-13,2,0.93,118220.22,8145.35,8042.21,103.14,2015,Albany
2015-12-06,3,1.08,78992.15,5811.16,5677.40,133.76,2015,Albany
2015-11-29,4,1.28,51039.60,6183.95,5986.26,197.69,2015,Albany

Pobranie kilku df

In [ ]:
def fetch_financal_data(company = 'AMZIN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

apple = fetch_financal_data('AAPL')
bp = fetch_financal_data('BP')
google = fetch_financal_data('GOOGL')
uber = fetch_financal_data('UBER')

In [ ]:
bp.head()

Preprocessing

In [ ]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
bp.columns = ['bp_' + col.lower() for col in bp.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]
bp

In [ ]:
import pandas as pd

In [ ]:
df = pd.concat(objs=[apple, bp, google, uber], axis=1)
df.head()

,apple_open,apple_high,apple_low,apple_close,apple_volume,bp_open,bp_high,bp_low,bp_close,bp_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
Date,,,,,,,,,,,,,,,,,,,,
2017-10-20,37.1564,37.4310,37.0086,37.0675,1.007798e+08,29.1407,29.2756,28.9999,29.0654,5.553132e+06,50.3525,50.4325,50.1135,50.2535,32103640,NaN,NaN,NaN,NaN,NaN
2017-10-23,37.2213,37.4190,36.8948,37.0525,9.255474e+07,29.1329,29.2238,29.0312,29.0987,6.317934e+06,50.2590,50.2895,49.1550,49.2770,32754520,NaN,NaN,NaN,NaN,NaN
2017-10-24,37.0775,37.3511,37.0575,37.2712,7.433980e+07,29.2463,29.4273,29.2053,29.2542,4.354814e+06,49.3250,49.4630,48.8540,49.4245,28778660,NaN,NaN,NaN,NaN,NaN
2017-10-25,37.2273,37.3841,36.8398,37.1075,8.925622e+07,29.2825,29.3294,28.8845,29.0987,5.365819e+06,49.3135,49.7215,48.8861,49.5730,27965600,NaN,NaN,NaN,NaN,NaN
2017-10-26,37.3042,37.4490,37.1943,37.3491,7.136589e+07,29.0801,29.1045,28.9451,28.9911,4.098389e+06,49.9235,50.3255,49.5235,49.5710,47106720,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.0,9.286253e+01,4.697489e+01,3.480070e+01,4.741935e+01,7.768660e+01,1.381795e+02,1.818770e+02
apple_high,1258.0,9.397389e+01,4.757465e+01,3.521710e+01,4.778165e+01,7.845955e+01,1.411637e+02,1.821870e+02
apple_low,1258.0,9.180889e+01,4.637212e+01,3.432030e+01,4.689487e+01,7.706045e+01,1.367700e+02,1.783820e+02
apple_close,1258.0,9.293629e+01,4.699332e+01,3.436630e+01,4.732428e+01,7.784885e+01,1.383770e+02,1.812580e+02
apple_volume,1258.0,1.205955e+08,5.654720e+07,4.116961e+07,8.276842e+07,1.059069e+08,1.412077e+08,4.339886e+08
bp_open,1258.0,2.855619e+01,5.627618e+00,1.354690e+01,2.406345e+01,3.038750e+01,3.286045e+01,3.726810e+01
bp_high,1258.0,2.878794e+01,5.601513e+00,1.383750e+01,2.432600e+01,3.063150e+01,3.305090e+01,3.740700e+01
bp_low,1258.0,2.827687e+01,5.660844e+00,1.332990e+01,2.374387e+01,3.012370e+01,3.264187e+01,3.709210e+01
bp_close,1258.0,2.852521e+01,5.636346e+00,1.347560e+01,2.395955e+01,3.039290e+01,3.286555e+01,3.737570e+01
bp_volume,1258.0,1.159798e+07,6.308809e+06,2.747197e+06,7.244024e+06,1.021728e+07,1.419651e+07,5.476998e+07
google_open,1258.0,8.406328e+01,3.139661e+01,4.921600e+01,5.747287e+01,7.112450e+01,1.126175e+02,1.512500e+02
google_high,1258.0,8.497619e+01,3.170073e+01,4.946300e+01,5.794375e+01,7.183950e+01,1.140105e+02,1.515470e+02
google_low,1258.0,8.314312e+01,3.102297e+01,4.885400e+01,5.687325e+01,7.012075e+01,1.114427e+02,1.488990e+02
google_close,1258.0,8.407745e+01,3.135426e+01,4.923350e+01,5.753350e+01,7.099125e+01,1.126972e+02,1.498380e+02
google_volume,1258.0,3.521104e+07,1.605613e+07,9.312760e+06,2.507661e+07,3.132451e+07,4.013312e+07,1.331771e+08
uber_open,869.0,3.804575e+01,9.820077e+00,1.596000e+01,3.096000e+01,3.600000e+01,4.492000e+01,6.325000e+01
uber_high,869.0,3.882452e+01,9.887407e+00,1.780000e+01,3.160000e+01,3.674000e+01,4.564000e+01,6.405000e+01
uber_low,869.0,3.718041e+01,9.679381e+00,1.371000e+01,3.022000e+01,3.515000e+01,4.390000e+01,6.080000e+01
uber_close,869.0,3.800006e+01,9.761700e+00,1.482000e+01,3.083000e+01,3.598000e+01,4.469000e+01,6.318000e+01
uber_volume,869.0,2.572334e+07,1.680613e+07,3.380003e+06,1.557090e+07,2.216098e+07,3.094585e+07,1.863225e+08

In [ ]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,92.86,46.97,34.80,47.42,77.69,138.18,181.88
apple_high,1258.00,93.97,47.57,35.22,47.78,78.46,141.16,182.19
apple_low,1258.00,91.81,46.37,34.32,46.89,77.06,136.77,178.38
apple_close,1258.00,92.94,46.99,34.37,47.32,77.85,138.38,181.26
apple_volume,1258.00,120595469.35,56547204.32,41169609.59,82768419.04,105906918.14,141207661.61,433988621.55
bp_open,1258.00,28.56,5.63,13.55,24.06,30.39,32.86,37.27
bp_high,1258.00,28.79,5.60,13.84,24.33,30.63,33.05,37.41
bp_low,1258.00,28.28,5.66,13.33,23.74,30.12,32.64,37.09
bp_close,1258.00,28.53,5.64,13.48,23.96,30.39,32.87,37.38
bp_volume,1258.00,11597981.47,6308808.92,2747196.50,7244023.65,10217279.10,14196509.05,54769978.26
google_open,1258.00,84.06,31.40,49.22,57.47,71.12,112.62,151.25
google_high,1258.00,84.98,31.70,49.46,57.94,71.84,114.01,151.55
google_low,1258.00,83.14,31.02,48.85,56.87,70.12,111.44,148.90
google_close,1258.00,84.08,31.35,49.23,57.53,70.99,112.70,149.84
google_volume,1258.00,35211043.73,16056131.85,9312760.00,25076610.00,31324510.00,40133120.00,133177100.00
uber_open,869.00,38.05,9.82,15.96,30.96,36.00,44.92,63.25
uber_high,869.00,38.82,9.89,17.80,31.60,36.74,45.64,64.05
uber_low,869.00,37.18,9.68,13.71,30.22,35.15,43.90,60.80
uber_close,869.00,38.00,9.76,14.82,30.83,35.98,44.69,63.18
uber_volume,869.00,25723343.05,16806130.21,3380003.00,15570904.00,22160976.00,30945853.00,186322536.00

In [ ]:
df.corr()

In [ ]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'bp_close', 'google_close', 'uber_close']

In [ ]:
df[closes].corr()

              apple_close  bp_close  google_close  uber_close
apple_close          1.00     -0.48          0.94        0.14
bp_close            -0.48      1.00         -0.35       -0.24
google_close         0.94     -0.35          1.00        0.24
uber_close           0.14     -0.24          0.24        1.00

In [ ]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
df[closes].corr()

,apple_close,apple_volume,bp_close,bp_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.33,-0.48,0.37,0.94,-0.13,0.14,0.12
apple_volume,-0.33,1.00,-0.13,0.21,-0.39,0.51,-0.24,0.23
bp_close,-0.48,-0.13,1.00,-0.55,-0.35,-0.07,-0.24,-0.00
bp_volume,0.37,0.21,-0.55,1.00,0.28,0.28,0.07,0.22
google_close,0.94,-0.39,-0.35,0.28,1.00,-0.16,0.24,0.10
google_volume,-0.13,0.51,-0.07,0.28,-0.16,1.00,-0.18,0.26
uber_close,0.14,-0.24,-0.24,0.07,0.24,-0.18,1.00,-0.25
uber_volume,0.12,0.23,-0.00,0.22,0.10,0.26,-0.25,1.00

append()

In [ ]:
import datetime
uber_6 = uber.loc[uber.index.month == 6]
uber_6.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098

In [ ]:
uber_7 = uber.loc[uber.index.month == 7]
uber_7.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042

In [ ]:
uber_6_7 = uber_6.append(uber_7)
uber_6_7.tail(5)

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998